@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --animate-logo:logo 3s ease-out forwards ;
  --animate-fadeup: fadeup 3s ease-out 5s forwards ; 
                 /* name duration timing-function delay fill-mode */

  
  @keyframes logo {
    0%{
      transform: scale(0.6);
      opacity: 0;
    }
    100%{
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @keyframes fadeup {
     0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
   }
  }



:root {
  --primary-color: #F1C40E;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}


body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-poppins);
}

.btn{
  background-color: var(--primary-color);
  color: var(--color-foreground);
  padding: 0.75rem 0.75rem;
  border-radius: 3rem;
  font-weight: 500;
  font-size: medium;
}

.image{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.title{
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;
}

.error_response{
  color: red;
  font-weight: bold;
}

.success_response{
  color: green;
  font-weight: bold;
}

.class_card_name{
  font-weight: 500;
  font-size: 18px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  color: var(--color-foreground);
  padding: 0.75rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.class_list{
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

svg.burger_menu{
    color: var(--color-foreground);
    filter: drop-shadow(0 0 2px rgb(230, 226, 226));
}